@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif; 
}



@media (max-width: 991px) {

    header{
        width: 308px;
        margin:0 auto;
    }
    
    .logo{
        margin-top: 36px;
        margin-left: 35px;
        margin-bottom: 40px;
    }
    
    h1{
        font-size: 37px;
        font-weight: bold;
        font-family: 'Roboto Slab', serif;
        line-height: 101.38%;
        width: 292px;
        margin-top: 0;
    }
    
    h2{
      font-family: 'Roboto Slab', serif; 
      font-size: 26px;
      font-weight: bold;
      width: 250px;
    }
    
    h3{
       font-family:'Roboto', sans-serif;
       font-size: 12px; 
       font-weight: bold;
       color: #1e4681;
       padding: 0;
       margin: 0;
    }
    
    h4{
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    


.three-facts{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 0 0 35px;
}   

.three-facts__block-globe,
.three-facts__block-watch,
.three-facts__block-calendar{
    display: flex;
    gap:3px;
    font-size: 10px;
    width: 75px;
    line-height: 115%;
}

.globe, .watch, .calendar{
    width: 10px;
    height: 10px;
    padding: 0 ;
    margin: 0;
}

.section-1{
    display: flex;
    flex-direction: column;
    width: 278px;
    padding-left: 35px;
    padding-right: 5px;
    margin: 20px auto 0;
}

.section-1__8-lessons{
    font-size: 10px;
    width: 212px;
}

.videooperator{
    width: 141px;
    height: 175px;
    margin-top: 16px;
    margin-bottom: 38px;
    margin-left: auto;
    
}

.section-1__quote{
    display: flex;
    flex-direction: column;
    color:white;
    background-color: #1e4681;
    border-radius: 2.33px;
    width: 225px;
    height: 73px;
    font-size: 11px;
    line-height: 14.3px;
    padding: 3px 8px 26px;
}

.tarkovskiy{
    display: block;
    font-size: 10px;
    margin-left: auto;
    line-height: 150%;
    
}


.section-2-wrapper{
    margin: 40px auto 0;
    width: 273px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    padding-left: 35px;

}

.videographer__wrapper{
    display: flex;
    justify-content: center;
}

.videographer{
    margin: 0 auto 30px;
    justify-self: center;
}

.section-2__card__info-1,
.section-2__card__info-2,
.section-2__card__info-3{
    width: 85px;
    font-size: 10px;
    line-height: 130%;
}

.section-2__info-3-blocks{
    margin: 30px 0 60px;
    display: flex;
    flex-wrap: wrap;
    gap:30px;
}

.section__3{
    width: 308px;
    margin-left: 35px;

}

.section-3__wrapper{
    margin: 0 auto;
    width: 308px;
    padding-left: 35px;
}   

.section-3__info-block-1,
.section-3__info-block-2,
.section-3__info-block-3{
    padding: 5px 0;
    width: 170px;
}

.section-3__text{
    font-size: 10px;
    line-height: 130%;
    padding: 0;
}

.section-4{
    width: 308px;
    font-size: 12px;
    line-height: 150%;
    padding: 5px 0;
    margin: 40px auto 0;
}

.section-4 h2{
    margin: 0 auto 30px;
}

.section-5 {
    display: block;
    width: 100%;
    margin-bottom: 47px;
}

.section-5 h2{
    margin: 10px auto 30px;
}

.section-5__8-program-cards-wrapper{
    display: block;
}

.section-5__program-card {
    width: 185.92px;
    height: 152.82px;
    box-sizing: border-box;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 13.9792px;
    margin: 10px auto;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.s5__card__img{
    width: 185.92px;
    height: 75px;
}

.s5__card__text-wrapper{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.s5__card__h4{
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.s5__card__text{
    
    margin-left: 10px;
    font-family: Roboto;
    font-size: 12px;
    line-height: 130%;
    margin-bottom: 10px;
}

.section-6{
    background-color: #EFEFEF;
    margin:0;
    padding: 16px 0 20px 0;
    width: 100%;
    
}

.section-6__wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0;

}

.section-6 h2{
    margin: 30px auto 20px;

}

.section-6__feedback-autor-wrapper{
    display: flex;
    gap:13px;
    padding: 13px 0 0 0;
    margin-bottom: 0;
}

.section-6__avatar{
    width: 80px;
    height: 84px;
}

.section-6__autor-name{
    font-size: 14px;
    font-family:'Roboto Slab', serif; 
    font-weight: bold;
}

.section-6__content-card{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width: 230px;
    height: 248px;
    padding: 20px;
    padding-bottom: 0px;
    margin: 0 auto 20px;
}

.section-6__feedback-text{
    font-size: 10px;
}


.section-7{
    background-color: #9DC9C8;
    margin:0;
    padding:0;
    width: 100%;
    padding-left: 35px;
}

.section-7__content-wrapper{
    width: 308px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 63px;
}

.section-7__h2{
    display: block;
    width: 220px;
}

.section-7__h5-price{
   font-size: 12px;
   margin: 0;
   padding:0;
}

.section-7__price{
    font-size: 37px;
    margin: 0;
    padding:0;
}

.section-7__h5{
    font-size: 12px;
    margin:0 0 5 0;
    padding:0;
}

.section-7__2-text-blocks-wrapper{
    display: flex;
    justify-content: space-between;
    /*gap: 10px;*/
    margin-top: 30px;
    width: 270px;
}

.section-7__text-block-1,
.section-7__text-block-2{
    width: 130px;
    margin: 0;
    padding:0;
}

.section-7__text{
    font-size: 10px;
    margin:0;
    padding:0;
}

footer{
    margin: 0;
    background-color: black;
    padding-top: 23px;
    padding-left: 35px;
    padding-bottom: 10px;
    width: 100%;
}

.footer__content-wrapper{
    width: 308px;
    margin: 0 auto;
}

.footer__social-links-wrapper{
    padding-top: 14px;
}

.footer__telephone-number,
.footer__mail-adress{
    color: white;
    font-size: 12px;
    padding:0;
    margin:0;
}

.footer__copyright{
    color:white;
    font-size: 10px;
    margin-top: 49px;
}

.footer__telephone-block{
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
    gap: 10px;
}

.footer__mail-block{
    display: flex;
    margin-top: 0;
    padding-top:0;
    gap:10px;
}


}