@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  font-family: 'Roboto', sans-serif; 
}






footer{
    background-color: black;
    padding-top: 23px;
    padding-left: 37px;
}

.footer__telephone-number,
.footer__mail-adress{
    color: white;
    font-size: 12px;
}

.footer__copyright{
    color:white
    font-size: 10px;
}